@inherits CounterHandler

@page "/op/counter"

@attribute [Authorize(Roles = "MEM")]

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

