@inherits UserControlHandler

@page "/op/users"

@attribute [Authorize(Roles = "DN")]

<PageTitle>Counter</PageTitle>

<h1>Hello You are in user painel control</h1>

<p role="status">Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>