@inject IAuthService AuthService
@inject NavigationManager Navigation

@page "/login"
@using BlazorUserControl.Application.Contracts.Request
@inject AppAuthStateProvider AuthenticationStateProvider


@layout LoginLayout

<PageTitle>Home</PageTitle>

<h3>SigIn</h3>


<PageTitle>Home</PageTitle>

<input @bind="_loginRequest.Username" placeholder="Username"/>
<input @bind="_loginRequest.Password" type="password" placeholder="Password"/>
<button @onclick="Login">Login</button>

<p>@_message</p>

@code
{
    private string? _message;
    private readonly LoginRequest _loginRequest = new("brito@tracosespacos.pt", "12345678");

    protected override async Task OnInitializedAsync()
    {
        if (await AuthenticationStateProvider.IsAuthenticated())
            Navigation.NavigateTo(Routes.Dashboard);
    }

    private async Task Login()
    {
        try
        {
            var result = await AuthService.LoginAsync(_loginRequest.Username!, _loginRequest.Password!);

            if (!string.IsNullOrEmpty(result!.Token))
            {
                _message = "Login successful!";
                Navigation.NavigateTo(Routes.Dashboard);
            }

            _message = "Login failed!";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _message = "Login failed!";
        }
    }
}