@inherits SiginHandler
@layout LoginLayout

@page "/login"

<PageTitle>Login</PageTitle>

@if (!IsLoading)
{
    <h3>SigIn</h3>

    <input @bind="LoginRequest.Username" placeholder="Username"/>
    <input @bind="LoginRequest.Password" type="password" placeholder="Password"/>
    <button @onclick="Login">Login</button>
    <p>@Message</p>
}
