@using BlazorUserControl.Pages
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (!context.User.Identity!.IsAuthenticated)
                    {
                        <RedirectManager/>
                    }
                    else
                    {
                        <p>You are not authorized to access this page, Choose other page, thanks</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not Found</PageTitle>
            <h1>Page not found</h1>
        </NotFound>
    </Router>
</CascadingAuthenticationState>