@page "/op/"
@layout MainLayout
@inject IAuthService AuthService

<head>
    <title>Home</title>
    <link href="css/home.css" rel="stylesheet"/>
</head>

<h1>Welcome to Home Page</h1>

<p>This component lists all users fetched from the server.</p>

@if (_isLoading)
{
    <div class="spinner-border" role="status">
        <span class="sr-only"></span>
    </div>
}
else if (_users == null || !_users.Any())
{
    <p>
        <em>No users found.</em>
    </p>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Email</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in _users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.CreatedAt.ToString("dd MMM yyyy")</td>
                <td>@user.UpdatedAt.ToString("dd MMM yyyy")</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IReadOnlyList<IGetAllUsers_AllUsers_Nodes>? _users;
    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        _users = await AuthService.GetAllUsers();
        _isLoading = false;
    }
}