@using Application.Provider
@using Application.State
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject AppAuthStateProvider AuthenticationStateProvider

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <CascadingValue Value="@AppState">
                <div class="page">
                    <div class="sidebar">
                        <NavMenu/>
                    </div>

                    <main>
                        <div class="top-row px-4">
                            <a href="#" @onclick="Logout">Logout</a>
                        </div>

                        <article class="content px-4">
                            @Body
                        </article>
                    </main>
                </div>
            </CascadingValue>
        </Authorized>
        <NotAuthorized>
            @{
                Navigation.NavigateTo(Routes.Login);
            }
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code
{
    public AppState AppState { get; set; } = new AppState();
    
    private async Task Logout()
    {
        await AuthenticationStateProvider.MarkUserAsLoggedOutAsync();
    }
}