@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject AppAuthStateProvider AuthenticationStateProvider

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div class="page">
                <div class="sidebar">
                    <NavMenu/>
                </div>

                <main>
                    <div class="top-row px-4">
                        <a href="#" @onclick="Logout">Logout</a>
                    </div>

                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </div>
        </Authorized>
        <NotAuthorized>
            @{
                Navigation.NavigateTo(Routes.Login);
            }
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code
{
    private async Task Logout()
    {
        await AuthenticationStateProvider.MarkUserAsLoggedOutAsync();
    }
}